* {
  margin: 0;
  padding: 0;
}

.canvas {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  background-color: #d891f6;
  border-radius: 50%;
  border: 1.5vmin solid white;
  height: 50vmin;
  width: 40vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-border,
.star {
  clip-path: polygon(
    50% 0%,
    67% 27%,
    98% 35%,
    73% 60%,
    79% 91%,
    50% 74%,
    21% 91%,
    25% 59%,
    2% 35%,
    31% 28%
  );
}

.star-border {
  background-color: #e37b86;
  margin: 4vmin 0 5vmin;
}

.star {
  background-color: #ffec5e;
  height: 7vmin;
  width: 7vmin;
  margin: 1vmin;
}

.eyes {
  display: flex;
  flex-direction: row;
}

.left-eye,
.right-eye {
  background-color: black;
  height: 2vmin;
  width: 2vmin;
  border-radius: 50%;
  margin: 0 5vw;
}
