* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #d891f6;
  --lsp-height: 50vmin;
  --lsp-width: 40vmin;

  --blob-lg-height: calc(var(--lsp-height) / 2);
  --blob-lg-width: calc(var(--lsp-width) / 2);

  --blob-med-height: calc(var(--lsp-height) / 1.75);
  --blob-med-width: calc(var(--lsp-width) / 2.2);

  --blob-sm-height: calc(var(--lsp-height) / 3);
  --blob-sm-width: calc(var(--lsp-width) / 3);
}

.canvas {
  background: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  background-color: var(--primary-color);
  border-radius: 50%;
  height: var(--lsp-height);
  width: var(--lsp-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star-border,
.star {
  clip-path: polygon(
    50% 0%,
    67% 27%,
    98% 35%,
    73% 60%,
    79% 91%,
    50% 74%,
    21% 91%,
    25% 59%,
    2% 35%,
    31% 28%
  );
}

.star-border {
  background-color: #e37b86;
  padding: 1vmin;
  margin-bottom: 5vmin;
}

.star {
  background-color: #ffec5e;
  height: 7vmin;
  width: 7vmin;
}

.eyes {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.left-eye,
.right-eye {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-eyebrow,
.right-eyebrow {
  border-top: 0.5vmin solid black;
  margin: 0.5vmin;
  width: 3vmin;
  border-radius: 30%;
}

.left-eyebrow {
  transform: rotate(10deg);
}

.eye {
  background-color: black;
  height: 2vmin;
  width: 2vmin;
  border-radius: 50%;
  margin: 0 calc(var(--lsp-width) / 6);
}

.mouth-container {
  margin-top: 2vmin;
  max-width: calc(var(--lsp-width) / 5);
  max-height: 3vmin;
  z-index: 10;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.mouth {
  border: 0.5vmin solid black;
  background-color: #5b3d77;
  min-width: calc(var(--lsp-width) / 7);
  max-height: 3vmin;
  border-radius: 50%;
  z-index: 10;
}

.mouth-line {
  border-left: 0.5vmin solid black;
  min-width: 3vmin;
  min-height: 3vmin;
  border-radius: 50%;
  transform: rotate(-5deg);
  z-index: 10;
}

.blob {
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
}

.blob-lg {
  /* background-color: red; */
  height: var(--blob-lg-height);
  width: var(--blob-lg-width);
}

.blob-med {
  /* background-color: blue; */
  height: var(--blob-med-height);
  width: var(--blob-med-width);
}

.blob-sm {
  /* background-color: green; */
  height: var(--blob-sm-height);
  width: var(--blob-sm-width);
}

.blob-1 {
  margin-top: calc(var(--lsp-height) / 6 * -1);
}

.blob-2 {
  margin-left: calc(var(--lsp-width) / 2 * -1);
  transform: rotate(90deg);
}

.blob-3 {
  margin-right: calc(var(--lsp-width) / 2 * -1);
  transform: rotate(90deg);
}

.blob-4 {
  margin-top: calc((var(--lsp-height) / 2) - (var(--blob-med-height) / 2));
  margin-left: calc(var(--lsp-width) / 2 * -1);
  transform: rotate(90deg);
}

.blob-5 {
  margin-top: calc((var(--lsp-height) / 2) - (var(--blob-med-height) / 2));
  margin-right: calc(var(--lsp-width) / 2 * -1);
  transform: rotate(90deg);
}

.blob-6 {
  margin-top: calc(var(--lsp-height) / 1.9);
  margin-left: calc((var(--lsp-width) / 1.2) * -1);
  transform: rotate(75deg);
}

.blob-7 {
  margin-top: calc(var(--lsp-height) / 1.9);
  margin-right: calc((var(--lsp-width) / 1.2) * -1);
  transform: rotate(105deg);
}

.blob-8 {
  margin-top: calc(var(--lsp-height) - (var(--blob-sm-height) / 1.5));
}

.blob-9 {
  margin-top: calc(var(--lsp-height) - (var(--blob-sm-height) / 1.1));
  margin-left: calc((var(--lsp-width) / 2.3) * -1);
  transform: rotate(37.5deg);
}

.blob-10 {
  margin-top: calc(var(--lsp-height) - (var(--blob-sm-height) / 1.1));
  margin-right: calc((var(--lsp-width) / 2.3) * -1);
  transform: rotate(127.5deg);
}
